[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/WMT"]
	path = lib/WMT
	url = https://github.com/maxsupermanhd/WMT.git
[submodule "data/texpages"]
	path = data/texpages
	url = https://github.com/Warzone2100/data-texpages.git
